<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../style/login.css" type="text/css">
</head>

<body>
<form method="POST" th:action="@{/auth/login}"  id="loginForm">

    <div th:if="${param.error}" class="alert alert-error">
        <b>Login or password not correct!</b>
    </div>
    <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <!--<button type="button" class="cancelbtn">Cancel</button>-->
        <span class="psw"><a href="#">Forgot password?</a></span>
        <span class="cac"><a href="/registration">Create account!</a></span>
    </div>
</form>

</body>
</html>